<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
     <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="http://qtip2.com/v/2.2.0/jquery.qtip.min.css" rel="stylesheet">
    <title>EUphorics</title>
  </head>
  <body onload="sizeChange()">
