<% include header.ejs %>
<a href="https://github.com/TimFogarty" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<h1 class="titlebar"><img src="img/guitar.png">EUphorics - Discover European Music</h1>
<div class="row">
  <div class="col-md-6 instructions-cont">
    <div class="instructions">
      

      <div class="intro">
	<h2>Play a random piece of music.</h2>
	<h2>Guess where the music is from.</h2>
	<h2>Find great artists from other countries.</h2>
	<h3>It's a vacation for your ears!</h3>
	<a id="fplay" href="#" class="btn btn-outline-inverse btn-lg"><span class="glyphicon glyphicon-play"></span>Play Random Music</a>
      </div>
      
      <div class="quiz">
	<h2><a href="#" class="btn btn-outline-inverse pauseplay"><span class="glyphicon glyphicon-pause"></span></a></span></a><span class="playing-message">Now Playing...</span></h2>
	<h2>Where do you think the music is from?</h2>
      </div>

<div class="answer">
  <h2 id="solution"></h2>
  <div>
  <img class="artist-image" src="">

  <h2 class="artist-name"></h2>
  <p class="artist-description"></p>
</div>
  <div class="btm-btn">
  <a id="playagain" href="#" class="btn btn-outline-inverse btn-lg"><span class="glyphicon glyphicon-play"></span>Play Another...</a>
  <a id="tweet" href="#" target="_blank" class="btn btn-outline-inverse btn-lg"><span class="socialglyph">t</span>Tweet your find!</a>
  <a id="deezer" href="#" target="_blank" class="btn btn-outline-inverse btn-lg">Listen on Deezer</a>
  <a href="#" class="btn btn-outline-inverse pauseplay"><span class="glyphicon glyphicon-pause"></span></a>
</div>
</div>
  
    </div>
  </div>
  <div class="col-md-6">
    <div id="container"></div>
  </div>
</div>

<p class="bottom-foot">Built with <a href="http://echonest.com/" target="_blank">Echo Nest</a> and <a href="http://deezer.com/" target="_blank">Deezer</a>.</p>
<% include footer.ejs %>
