<% include header.ejs %>

<h1 class="titlebar"><img src="img/guitar.png">Folkr - Discover European Culture</h1>
<div class="row">
  <div class="col-md-6 instructions-cont">
    <div class="instructions">
      <div class="intro">
	<h2>Play a random piece of folk music.</h2>
	<h2>Guess where the music is from.</h2>
	<h2>Win points. Discover music. Learn about cultures.</h2>
	<a href="#" class="btn btn-outline-inverse btn-lg"><span class="glyphicon glyphicon-play"></span>Play Random Music</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="container"></div>
  </div>
</div>

<% include footer.ejs %>

