@font-face {
    font-family: "Socialglyphs";
    src: url(/fonts/socialglyphs-regular.eot?),
    url(/fonts/socialglyphs-regular.woff) format("woff"),
    url(/fonts/socialglyphs-regular.ttf) format("truetype"),
    url(/fonts/socialglyphs-regular.svg#socialglyphs-regular) format("svg");
}

.socialglyph {
    font-family: Socialglyphs;
    font-size: 27px;
    line-height: 10px;
    margin-right: 10px;
}

.subunit {
    fill: #45ADA8; //#556270;
    stroke: #343838;
    stroke-width: 1.5px;
}
#container {
    padding:20px;
}

.subunit:hover {
    fill: #4ECDC4;
    cursor:pointer;
}
.row {
    margin: 0px;
}

.titlebar {
    font-weight: 300;
    font-size: 60px;
    text-align:center;
    color: #fff;
}

body {
    background-image:url('../img/texture.png');
    background-repeat:repeat;
}

.instructions-cont {
    padding:40px;
    
}

.instructions {
    height: 600px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow:  3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow:  3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.instructions > .intro {
    padding-top: 165px;
    position: relative;
}

.instructions > .intro > a.btn-lg {
    margin-left: -101px;
    left: 50%;
    position: absolute;
    margin-top: 50px;
}

.instructions > .intro > a.btn-lg > span {
    margin-right: 10px;
}

.instructions h2 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.bs-masthead .btn-outline-inverse {
    width: auto;
    margin: 20px 5px 20px 0;
    padding: 18px 24px;
    font-size: 21px;
}

.bs-masthead .btn-outline-inverse {
    margin: 10px;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
    padding: 18px;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #556270;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.titlebar > img {
    width: 40px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.instructions .quiz {
    display: none;
    padding-top: 200px;
}

.pauseplay {
    margin-right: 15px;
}

#fplay {
    display: none;
}

.answer {
    display: none;
    padding-top: 20px;
}

.artist-image {
    width: 240px;
    height: 240px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}

.answer .artist-name {
    margin-top: 40px;
    text-align: left;
}

.artist-description {
    color: #fff;
    margin-right:40px;
    max-height: 200px;
}

#playagain > .glyphicon {
    margin-right: 10px;
}

.btm-btn {
    bottom: 80px;
    left: 80px;
    position: absolute;
}

.btm-btn a {
    margin-right: 20px;
}